<h1>Submit Your Paper</h1>
<form #form="ngForm">
<div class="tab-wrap">

    <input type="radio" name="tabs" id="tab1" checked>
    <div class="tab-label-content" id="tab1-content">
        <label for="tab1">ეგზეპლარის ინფორმაცია</label>
        <div class="tab-content">
            <div class="col-lg-12 row">
                <div >
                    <span>დასახელება</span>
                    <input class="form-control col-lg-4" type="text" id="sm"   name="submissionName" [(ngModel)]="model.SubmissionName">
                </div>
                <div >
                    <span>მოკლე დასახელება</span>
                    <input class="form-control col-lg-4" type="text" id="sm"   name="shortname" [(ngModel)]="model.ShortName">
                </div>
                <div >
                    <span>აღწერა</span>
                    <input class="form-control col-lg-4" type="text" id="sm"   name="description" [(ngModel)]="model.Description">
                </div>
                <div >
                    <span>სხვა</span>
                    <input class="form-control col-lg-4" type="text" id="sm"   name="other" [(ngModel)]="model.Other">
                </div>
            </div>
        </div>
    </div>

        <input type="radio" name="tabs" id="tab2">
        <div class="tab-label-content" id="tab2-content">
            <label for="tab2">ფაილის ატვირთვა</label>
            <div class="tab-content">

            
            <div class="container">
            
            <div class="file-upload">
            <div class="image-upload-wrap">
                <input class="file-upload-input" type='file' (change)="onChange($event);" accept="*.pdf"  name="file" [(ngModel)]="model.File"/>
                <input type="file"
       ngFileSelect
       (onUpload)="handleUpload($event)"
       (beforeUpload)="beforeUpload($event)">

                <div class="drag-text">
                <h3>ფაილის ატვირთვა {{file?.name}}</h3>
                </div>
            </div>
            <div class="file-upload-content">
                <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">ფაილის ატვირთვა</span></button>
                </div>
            </div>
            </div>

    
            </div>
        </div>
        </div>
        

        <input type="radio" name="tabs" id="tab3">
        <div class="tab-label-content" id="tab3-content">
            <label for="tab3">დამატებითი ინფორმაცია</label>
            <div class="tab-content">TAB 3 
               </div>
        </div>

        <input type="radio" name="tabs" id="tab4">
        <div class="tab-label-content" id="tab4-content">
            <label for="tab4">შემოწმება და გამოქვეყნება</label>
            <div class="tab-content">TAB 4 - .</div>
        </div>

        <div class="slide"></div>

    </div>
    <div style="float:right; margin-top:400px;" >
    <button (click)="save(form)" class="btn btn-success" >გამოქვეყნება</button>
    </div>
</form>