<aside class='sidebar'>
  <div class='main-nav'>
    <ul>
      <li class='logo'>
        <a [routerLink]="['']"><img style="height:40px; width:50px; margin-left:-5px;" src="https://www.tsu.ge/i/tsu-logo.png"></a>
      </li>
      <li>
        <div>
        <a [routerLink]="['']">მთავარი</a>
         <span style="font-size:20px;margin-top:10px"class="fa fa-home" aria-hidden="true"></span>
        </div>
          
      </li>
      <li>
         <div>
        <a [routerLink]="['register']">რეგისტრაცია</a>
         <span style="font-size:20px; margin-top:10px;"class="fa fa-user" aria-hidden="true"></span>
        </div>
      </li>
      <li>
      <div>
        <a [routerLink]="['login']">შესვლა</a>
         <span style="font-size:20px; margin-top:10px;"class="fa fa-sign-in" aria-hidden="true"></span>
        </div>
      </li>
      <li>
        <div>
        <a [routerLink]="['journals-and-books']">ჟურნალი</a>
         <span style="font-size:20px; margin-top:10px;"class="fa fa-book" aria-hidden="true"></span>
        </div>
      </li>
      <li>
        <div>
     <a [routerLink]="['authors']">ავტორები</a>
         <span style="font-size:20px; margin-top:10px;"class="fa fa fa-users" aria-hidden="true"></span>
        </div>
      </li>
    
    </ul>
    
  </div>
</aside>
<router-outlet></router-outlet>