@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url("//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");
/* entypo */
[class*="entypo-"]:before {
font-family: "BPG Mrgvlovani Caps", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
.fa-home {
  color: white;
}
body {
font-family: "BPG Mrgvlovani Caps", sans-serif;
  font-size: 15px;
  background: aliceblue;
}
