/* variable */
body {
  height: auto;
  position: relative;
  font-family: "ALK Rex Bold", sans-serif;
}

.product-title {
      font-size: 35px;
    font-weight: bold;
    color: #b08e5f;
}

ul {
      border-top: 1px solid gold;
      padding-top: 10px;
}

.btn-info {
  color: #fff;
    background-color: #009ece;
}

.btn-info:hover {
  color: #CCC;
    background-color: #0c7cd5;
}

.demo-preview {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  
}


div.container {
  position: absolute;
    margin-top: -250px;
    margin-left: 150px;
}

.product-image-section .img-product-wrapper {
  margin-bottom: 20px;
  position: relative;
}
.product-image-section .img-product-wrapper .slimScrollDiv {
  min-height: 490px;
  float: left;
}
.product-image-section .img-product-wrapper .slim-scroll {
  padding: 2px 20px 2px 2px;
  min-height: 490px;
}
.product-image-section .img-product-wrapper .img-thumbs {
  width: 15%;
  float: left;
  padding-right: 10px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  overflow: hidden;
}
.product-image-section .img-product-wrapper .img-thumbs .item {
  margin-bottom: 5px;
  border: 1px solid #CCC;
  position: relative;
  height: 60px;
  margin-bottom: 10px;
}
.product-image-section .img-product-wrapper .img-thumbs .item.active {
  border-color: transparent;
  outline: 2px solid #2196F3;
}
.product-image-section .img-product-wrapper .img-thumbs .item.active:before {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -5px;
  margin-left: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #2196F3;
}
.product-image-section .img-product-wrapper .img-thumbs .item a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.product-image-section .img-product-wrapper .img-thumbs .item a img {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: initial;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
.product-image-section .img-product-wrapper .lg-img-view {
  width: 100%;
  padding-left: 80px;
  float: left;
}
.product-image-section .img-product-wrapper .lg-img-view .inner {
  padding: 0px;
  height: 480px;
  position: relative;
  overflow: hidden;
}
.product-image-section .img-product-wrapper .lg-img-view .inner img {
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
.product-image-section .img-product-wrapper .view-desc {
  background: #f5f5f5;
  text-align: center;
  padding: 5px 15px;
}


.demo-preview {
  background: aliceblue;
}

.product-description-section .product-detail-wrapper {
  position: relative;
}
.product-description-section .product-detail-wrapper .product-name {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 20px;
}
.product-description-section .product-detail-wrapper > .group {
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 1px solid #CCC;
}
.product-description-section .product-detail-wrapper > .group .rate {
  display: inline-block;
  line-height: 1;
}
.product-description-section .product-detail-wrapper > .group .rate:before {
  color: #323a45;
}
.product-description-section .product-detail-wrapper > .group .rate-point {
  display: inline-block;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 1;
}
.product-description-section .product-detail-wrapper > .group .rate-point strong {
  font-size: 18px;
  color: #444;
}
.product-description-section .product-detail-wrapper > .group .order-count {
  display: inline-block;
  padding-left: 20px;
  border-left: 1px solid #CCC;
  line-height: 1;
}
.product-description-section .product-detail-wrapper > .group .order-count strong {
  font-size: 18px;
  color: #444;
}
.product-description-section .product-detail-wrapper .price-section {
  position: relative;
  padding: 10px 15px;
  background: #f5f5f5;
  margin-bottom: 30px;
}
.product-description-section .product-detail-wrapper .price-section .price {
  font-size: 25px;
  color: #f13434;
  font-weight: 700;
  margin-bottom: 20px;
  display: block;
}
.product-description-section .product-detail-wrapper .price-section span {
  display: block;
  color: #777777;
  text-decoration: line-through;
  font-size: 15px;
}
.product-description-section .product-detail-wrapper .price-section .sale-label {
  position: absolute;
  padding: 10px 15px;
  height: 55px;
  width: 175px;
  line-height: 150%;
  display: none;
  text-align: center;
  top: 0;
  left: 0;
  font-weight: 700;
  background: #2196f3;
  color: #FFF;
  font-size: 20px;
}
.product-description-section .product-detail-wrapper .price-section.has-safe .sale-label {
  display: block;
}
.product-description-section .product-detail-wrapper .price-section.has-safe .price-div {
  padding-left: 75px;
}
.product-description-section .product-detail-wrapper .description {
  margin-bottom: 20px;
}
.product-description-section .product-detail-wrapper .description .list {
  list-style: disc;
  padding-left: 20px;
}
.product-description-section .product-detail-wrapper .description .list li {
  margin-bottom: 10px;
  font-size: 14px;
  color: #2196F3;
}
.product-description-section .product-detail-wrapper .description .list li span {
  color: #444;
}
.product-description-section .product-detail-wrapper .btn {
  margin-right: 10px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  text-transform: uppercase;
  padding: 8px 20px;
  color: #FFF;
  font-weight: 400;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}
.product-description-section .product-detail-wrapper .btn i {
  margin-right: 5px;
}
.product-description-section .product-detail-wrapper .btn.btn-wishlist {
  background: #ef1c1c;
  border-color: #ef1c1c;
}
.product-description-section .product-detail-wrapper .btn.btn-wishlist:hover {
  background: #ca0e0e;
  border-color: #ca0e0e;
}
.product-description-section .product-detail-wrapper .btn.btn-add-cart {
  background: #2196F3;
  border-color: #2196F3;
}
.product-description-section .product-detail-wrapper .btn.btn-add-cart:hover {
  background: #0c7cd5;
  border-color: #0c7cd5;
}
.product-description-section .product-detail-wrapper .form-group {
  margin-bottom: 20px;
}

.rate {
  display: block;
  position: relative;
}
.rate:before {
  font-family: 'FontAwesome';
  content: "\f006  \f006  \f006  \f006  \f006";
}
.rate:after {
  font-family: 'FontAwesome';
  color: #fee243;
  position: absolute;
  left: 0;
  top: 0;
}
.rate[data-rating="5"]:after {
  content: "\f005  \f005  \f005  \f005  \f005";
}
.rate[data-rating="4.5"]:after {
  content: "\f005  \f005  \f005  \f005  \f089";
}
.rate[data-rating="4"]:after {
  content: "\f005  \f005  \f005  \f005";
}
.rate[data-rating="3.5"]:after {
  content: "\f005  \f005  \f005  \f089";
}
.rate[data-rating="3"]:after {
  content: "\f005  \f005  \f005";
}
.rate[data-rating="2.5"]:after {
  content: "\f005  \f005  \f089";
}
.rate[data-rating="2"]:after {
  content: "\f005  \f005";
}
.rate[data-rating="1.5"]:after {
  content: "\f005  \f089";
}
.rate[data-rating="1"]:after {
  content: "\f005";
}
.rate[data-rating="0.5"]:after {
  content: "\f089";
}
